body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

.bad-bunny {
  height: 300vh;

  .video-yonaguni {
    height: 100%;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mensaje {
    background: red;
    background-size: 100% 100%; // Estira la imagen para rellenar el div
    height: 40vh;
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .uvst {
    display: flex;
    height: 200vh;
    flex-direction: row;
    align-items: center;

    .portada {
      height: 100%;
      flex: 1;

      img {
        margin: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .productos {
    background-color: #fb1b0c;
    display: flex;
    flex-direction: row;
    align-items: center;

    .vinilo-a {
      flex: 1;

      img {
        cursor: pointer;
        margin: 0;
      }
    }

    .vinilo-b {
      flex: 1;

      img {
        cursor: pointer;
        margin: 0;
        object-fit: cover !important;
      }
    }
  }

  .dtmf {
    display: flex;
    flex-direction: row;
    align-items: center;

    .vinilo {
      flex: 1;

      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        margin: 0;
      }
    }

    .disco {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        margin: 0;
        object-fit: cover;
      }
    }
  }
}
